<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"><button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
          data-target="#navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span></button>
        <a class="navbar-brand" href="#">Angular Registration</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li> </li>
          <li routerlinkactive="active">
            <a routerlink="/login">Login</a>
          </li>
          <li> </li>
          <li routerlinkactive="active">
            <a routerlink="/dashboard">Dashboard</a>
          </li>
          <li> </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
